.section.banner-container {
  max-width: 100%;
  padding: 0;
}

.section.banner-container .section-wrapper {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.banner {
  background-color: blue;
  color: white;
  padding: 40px;
  text-align: center;
}

.banner-container {
  max-width: 100%;
  padding: 0;
}



.banner img {
  max-width: 200px;
  margin-bottom: 20px;
}